@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --blue-color: #0069FF;
    --block-color: #000000;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--orang-color);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 128, 11, 0.6);
  }

  /* nav section start  */

  .navbar{
    background: #FFF;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
  }
